<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94537432636-48if83rvajqnci8p2ddcvmabviarhvo1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94537432636-48if83rvajqnci8p2ddcvmabviarhvo1</string>
	<key>API_KEY</key>
	<string>AIzaSyD9apaojWzu3XTyTgoXYTf9YdPdqKXvru0</string>
	<key>GCM_SENDER_ID</key>
	<string>94537432636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseSample</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-practic-debb1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-practic-debb1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:94537432636:ios:71e6967bb15555814a8d39</string>
</dict>
</plist>